<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_file.css' %}">
    <!--<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TMoS - {% block title %}{%endblock%}</title>
</head>
<body>
    <div id="header">
        <div class="dropdown">
            <img src="{% static 'img/man-user.png' %}" alt="Dropdown Menu" class="dropbtn">
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </div>


    <p id="test">This is a test</p>
    
    
    <div id="navpanel">
        <img src="#" id="dropburger">
        <div>
            
        </div>

    </div>
    <div id="mainbody">
        {%block main%}{%endblock%}
    </div>
    
</body>
</html>