<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from static %}
    <link rel="shortcut icon" type="image/jpg" href='/static/img/logo.jpg'>
    <link rel="stylesheet" type="text/css" href='/static/css/base_file.css'>
    <!--<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TMoS - {% block title %}{%endblock%}</title>
</head>
<body>
    <div id="header">
        <div class="dropdown">
            <img src="{% static 'img/man-user.png' %}" alt="Dropdown Menu" class="dropbtn">
            <div class="dropdown-content">
                <a href="#">Personal Details</a>
                <a href="#">Company Details</a>
                <a href="/logout/">Logout</a>
            </div>
        </div>
    </div>

    
    
    <div id="navpanel">
        <div id="details">
            <img src='/static/img/logo.jpg' id="logo">
            <a href="#">Ramesh Singh{%block Name%}{%endblock%}</a>
        </div>
        <div id="navpanel_details">
            <a class="single_btn_nav" href="#">Home</a>
            <a id="orders_nav" href="#">Orders</a>
            <div id="orders_hover">
                <a class="orders_nav_inside" href="#">Place Order</a>
                <a class="orders_nav_inside" href="#">All Orders</a>
            </div>
            <a class="single_btn_nav" href="#">Vehicles</a>
            <a class="single_btn_nav" href="#">Drivers</a>
            <a class="single_btn_nav" href="#">Customers</a>
        </div>
    </div>
    <div id="mainbody">
        {%block main%}{%endblock%}
    </div>
    
</body>
</html>