{%extends 'base.html'%}

{% block css_json_file %}<link rel="stylesheet" type="text/css" href='/static/css/order_details.css'>{%endblock%}

{%block  title%}Order Details{%endblock%}

{%block main%}
    <h1 id="heading">Order Details - {{order_id}}</h1>
    <div id="status">
        Status : {{status}}
    </div>
    <div id="payment">
        <ul>
            <li>Cost : {{cost}}</li>
            <li>Transanction ID : {{payment_id}}</li>
            <li>Transanction>Transanction Status : {{payment_status}}</li>
        </ul>
    </div>
    <div id="details">
        Pickup Address : {{source}}
        Delivery Address : {{destination}}
        Order ID : {{order_id}}
        Order Placed on :  {{order_date}}
        Order Delivered on : {{order_delivery_time}}
        Driver Assigned : <a href="driver/{{driver_id}}">{{driver_name}}</a>
        Vehicle Assigned : <a href ="vehicle/{{vehicle_id}}">{{vehicle_id}}</a>
    </div>
    <div id="customer_details">
        Customer Name : <a href="customer/{{customer_id}}">{{customer_name}}</a>
        Customer Phone Number : {{cusotmer_no}}
        Customer Email ID : {{customer_email}}
    </div>

{%endblock%}