<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from staticfiles %}
    <link rel="shortcut icon" type="image/jpg" src="{% static 'img/logo.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_file.css' %}">
    {% block css_json_file %}{%endblock%}
    <!--<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TMoS - {% block title %}{%endblock%}</title>
</head>
<body>
    <div id="header">
        <div class="dropdown">
            <img src="{% static 'img/man-user.png' %}" alt="Dropdown Menu" class="dropbtn">
            <div class="dropdown-content">
                <a href="#">Personal Details</a>
                <a href="#">Company Details Yo</a>
                <a href="/logout/">Logout</a>
            </div>
        </div>
    </div>

    
    
    <div id="navpanel">
        <div id="details">
            <img src="{% static 'img/logo.jpg' %}" id="logo">
            <a href="#" id="profile_name">{{username}}</a>
        </div>
        <div id="navpanel_details">
            <ul id="navpanel_list">
                <li><a class="single_btn_nav" href="#">Home</a></li>
                <li><div id="orders_hover_orders"><a id="orders_nav" href="#">Orders</a></div></li>
                <div id="orders_hover">
                    <li><a class="orders_nav_inside" href="#">Place Order</a></li>
                    <li><a class="orders_nav_inside" href="#">All Orders</a></li>
                </div>
                <li><a class="single_btn_nav" href="#">Vehicles</a></li>
                <li><a class="single_btn_nav" href="#">Drivers</a></li>
                <li><a class="single_btn_nav" href="#">Customers</a></li>
            </ul>
        </div>
    </div>
    <div id="mainbody">
        {%block main%}{%endblock%}
    </div>
    
</body>
</html>