{%extends 'base.html'%}

{% block css_json_file %}<link rel="stylesheet" type="text/css" href='/static/css/order_details.css'>{%endblock%}

{%block  title%}Driver Details{%endblock%}

{%block main%}
    <h1 id="heading">Driver Details - {{driver_id}}</h1>

    <script src={% static "js/driver_detail.js" %}></script>
    <noscript>Sorry, your browser does not support JavaScript! Please use updated Chrome, Firefox, Opera, Safari or Edge browser</noscript>

    <div id="status">
        Current Status : {{driver_status_now}}
    </div>
    <div id="details">
        Driver ID : {{driver_id}}
        Driver Name : {{driver_name}}
        Driver Phone No : {{driver_no}}
    </div>
    <div id="record">
        <table id="driver_record">
            <tr id="driver_record_heading">
                <th>Date</th>
                <th>Attendance</th>
            </tr>
        </table>

    </div>
{%endblock%}